*.in
*.pyc
*.lo
*.la
*.[oa]
*/.libs
.deps
*/.deps
aclocal.m4
autom4te.cache/
build/
m4
configure.ac
configure
backup.sh
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
Makefile
config.h
config.log
config.status
example/Makefile
example/shell
libtool
stamp-h1
test_lib
