[submodule "nox11oflib"]
	path = nox11oflib
	url = git://github.com/danieltt/nox11oflib.git
[submodule "PyOCNI"]
	path = PyOCNI
	url = git://github.com/danieltt/PyOCNI.git
[submodule "nox"]
	path = nox
	url = git://github.com/danieltt/nox.git
[submodule "nox-1"]
	path = nox-1
	url = git@github.com:danieltt/nox-1.git
